[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
flake8 = "*"

[packages]
django = "*"
djangorestframework = "*"
django-rest-knox = "*"
python-decouple = "*"
psycopg2 = "*"
psycopg2-binary = "*"
django-filter = "*"

[requires]
python_version = "3.7"
